
*{

    margin: 0%;
    padding: 0%;


}
.navbar{

    display: flex;
    height: 80px;
    background-color: aquamarine;
    align-items: center;
}

.nav-primary-logo{

    
    background-color: brown;
}

.navbar-primary{

    background-color: bisque;
    width: 30%;
    height: 45%;


}

.nav-primary-left{
    justify-content: flex-end;
}



.img-logo{
    
    width: 150px;
}

ul{
    display: flex;
    JUSTIFY-CONTENT: space-around;
    font-size: 14px;
 
}

